.block {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.exit {
    margin-top: 40px;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 0 10px rgba(33, 156, 243, 1),
    0 0 10px rgba(33, 156, 243, 1);
}

.iconBox button.reset {
    width: 80px;
}

.iconBox button {
    margin: 5px;
    width: 60px;
    height: 50px;
    background: #101010;
    border: 3px solid #000;
    border-radius: 10px;
    transition: .5s;
    font-size: 30px;
    color: #777;
    outline: none;
}

.iconBox .disable {
    opacity: .3;
}

.iconBox .disable:hover {
    background: #101010;
    border: 3px solid #000;
    text-shadow: none;
    box-shadow: none;
    color: #777;
}

.iconBox button:hover {
    background: #000;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(33, 156, 243, .5),
    0 0 20px rgba(33, 156, 243, .5),
    0 0 30px rgba(33, 156, 243, .5),
    inset 0 0 10px rgba(33, 156, 243, .5);
    color: #fff;
    text-shadow: 0 0 10px rgba(33, 156, 243, 1),
    0 0 10px rgba(33, 156, 243, 1);
}

.input {
    background: none;
    padding: 10px;
    color: #fff;
    font-size: 35px;
    border: 2px solid #101010;
    border-radius: 10px;
    outline: none;
    text-align: center;
}

.input:focus {
    border-width: 3px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
